body {
    min-height: 100vh;
    font-size: 16px;
}

.container-1{
    width: 100%;
    height: 100%;
    display: inline-block;
    
}

.scuro {
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;

    ul {
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 15px;
        li {
            display: inline;
            font-size: 18px;

            a {
                color: blue;
                text-decoration: none;
                padding: 14px;
            }
           
        }
    }
}

.container-2 {
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.chiaro {
    background-color: red;
    width: 100%;

    ul {
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 15px;
        li {
            display: inline;
            font-size: 18px;

            a {
                color: white;
                text-decoration: none;
                padding: 14px;

            }
           
        }
    }
}

@mixin light  {
    background-color: #000000;
    color: white;
    ul :hover {
        color: yellow;
    }
}

@mixin dark {
    background-color: red;
   
}

.scuro {
    @include dark;
}

.chiaro {
    @include light;
}