$primary-color: #3498db;
$secondary-color: #e74;

.container {
    width: 100%;
    display: inline-block;
    background-color: black;
    h1 {
        color: blue;
    }

    p {
        color: red;
    }

}

nav {
    background-color: $secondary-color;
    position: fixed;
    top: 0;
    width: 100%;
    ul {
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 15px;
        li {
            display: inline;
            font-size: 18px;
            a {
                color: $primary-color;
                text-decoration: none;
                padding: 14px;
                &:hover {
                    background-color: #ff0000;
                }
            }
        }
    }
}

.ul {
    background-color: #e7e7e7;
}

.contatto {
    @extend .ul;
    border: 1px solid #333333;

}

